<footer class="footer">
        <div class="footer-content">
            <p>&copy; 2024 Ajay's Portfolio. All rights reserved.</p>
            <p>Connect with me on:</p>
            <ul class="social-links">
                <div class="socialmedia">
                    <div class="social">
                        <li><a href="https://www.linkedin.com/in/ajayprakashpandey25">Linkdin</a></li>
                    </div>
                    <div class="social">
                        <li><a href="https://www.instagram.com/ajayprakash4202?igsh=MWJzZ2pzNTRpM3FlOQ==">Instagram</a>
                        </li>
                    </div>
                    <div class="social">
                        <li><a href="https://x.com/_Ajay_Prakash?t=2Ag0eZMVqAYe4TdeqWoPDA&s=08">X</a></li>
                    </div>
                    <li>ajayprakashp59@gmail.com </li>
                    <li>+91 8881254553</li>
                </div>

            </ul>
        </div>
    </footer>